OWNER=babas-karabas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=postgresQL
DB_USER=student
DB_PASSWORD=student
DB_NAME=film_project
PGADMIN_DEFAULT_EMAIL=postgres@localhost.net
PGADMIN_DEFAULT_PASSWORD=postgres
DATABASE_DRIVER=postgres
PORT=3000
LOGGER_TYPE=json
NODE_ENV=development
DATABASE_PORT=5432
DATABASE_URL=database

